body {
    margin: 0;
    background-color: #303546 !important;
  }
.container {
  width: 500px;
  display: grid;
  margin-top: 200px;
  margin: auto;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: minmax(7rem, auto) repeat(5, 7rem);
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(199, 199, 199, 0.774);
  border-radius: 5%;
}

.calculator{
  width: 90%;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(199, 199, 199, 0.562);
  border-radius: 25%;
  
}
.number {
    width: 90%;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(199, 199, 199, 0.562);
    border-radius: 25%;
}
.numberZero{
    width: 90%;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(199, 199, 199, 0.562);
    border-radius: 15%;
    grid-column: 1/3;
}
.currOutput{
    display: flex;
    flex-direction: column;
    grid-column: 1/5;
    font-size: 60px;
    align-items: end;
}
.preOutput{
    font-size: 30px;
}